//
// Float
//

@each $breakpoint in map_keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    .float#{$infix}-left {
      float: left !important;
    }

    .float#{$infix}-right {
      float: right !important;
    }

    .float#{$infix}-none {
      float: none !important;
    }
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
