//
// Shadow
//

$box-shadow-sm: 0 0.125rem 0.25rem rgba(#000, 0.075) !default;
$box-shadow: 0 0.5rem 1rem rgba(#000, 0.15) !default;
$box-shadow-lg: 0 1rem 3rem rgba(#000, 0.175) !default;

@each $name,
  $value
    in (
      "-sm": $box-shadow-sm,
      "": $box-shadow,
      "-lg": $box-shadow-lg,
      "-none": none
    )
{
  .shadow#{$name} {
    box-shadow: $value !important;
  }
}
