//
// spacers
//
//

@each $prop, $abbr in (margin: m, padding: p) {
  @each $size, $length in $spacers {
    @each $direct,
      $direct-abbr
        in ("": "", top: t, right: r, bottom: b, left: l, x: "", y: "")
    {
      @if $direct == "" {
        $direct: "";
      } @else {
        $direct: -#{$direct};
      }

      @if $direct == "-x" {
        $direct: str_slice($direct, 2);
        .#{$abbr}#{$direct}-#{$size} {
          #{$prop}-left: $length !important;
          #{$prop}-right: $length !important;
        }
      } @else if $direct == "-y" {
        $direct: str_slice($direct, 2);
        .#{$abbr}#{$direct}-#{$size} {
          #{$prop}-top: $length !important;
          #{$prop}-bottom: $length !important;
        }
      } @else {
        .#{$abbr}#{$direct-abbr}-#{$size} {
          #{$prop}#{$direct}: $length !important;
        }
      }
    }
  }
}
